* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--black-hex2A2B);
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.text-center {
    text-align: center;
}
