.container {
    max-width: 428px;
    margin: auto;
}

.home {
    gap: 40px;
    height: 100vh;
}

.home .home__navigation {
    gap: 40px;
}

.home .home__navigation-button {
    text-decoration: unset;
    color: var(--back);
    padding: 16px 52px;
    background-color: var(--yellow-hexCC5B);
    border-radius: 8px;
}
.home .home__navigation-button:hover {
    background-color: #fcb600;
}

/* bài 1 */
.order {
    margin: 0 16px;
}

.header {
    box-shadow: 2px 4px 10px 0 rgba(0, 13, 11, 0.04);
    background-color: var(--white);
    margin-bottom: 18px;
}

.header .header-logo {
    max-width: 51px;
}

.header .header-desc {
    color: rgba(48, 48, 48, 0.5);
}

.order__number {
    background-color: #F5F6FA;
    padding: 16px;
    border-radius: 20px;
}

.order__numbe .order__number-container {
    padding: 14px;
    gap: 16px;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.08);
}

.order__container {
    margin-top: 18px;
    margin-bottom: 16px;
    gap: 16px;
}

.order__container .order__container-item {
    gap: 16px;
}

.order__container .order__container-time {
    width: 10%;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.order__container .order__container-status {
    width: 100%;
    max-width: 36px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}
.order__container .order__container-status::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 40%;
    background: var(--yellow-hexA100);
    border-radius: 50px;
    left: 0;
    right: 0;
    margin: auto;
    top: calc(36px + 5px);
}

.order__container .order__container-status--failed::before {
    background: var(--red-hex222D);
}

.order__container .order__container-item:last-child .order__container-status::before {
    display: none;
}

.order__container .order__container-text {
    width: 70%;
    max-width: 219px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.order__modal {
    padding: 24px;
    border-radius: 24px;
    background-color: #f5f6fa;
    gap: 12px;
}

.order__modal .order__modal-button {
    cursor: pointer;
    margin-top: 12px;
    border-radius: 8px;
    border: unset;
    padding: 12px 16px;
    background-color: var(--yellow-hexCC5B);
    max-width: 428px;
    text-decoration: unset;
}

.order__modal .order__modal-button:hover {
    background-color: #fcb600;
}

/* bài 2 */
.card {
    gap: 16px;
    margin: 0 16px;
    background-color: var(--white);
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card .card__image {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 6px;
    margin: auto;
    border: 1px solid #f2eeee;
}

.card .card__content {
    gap: 4px;
}

.card .card__button {
    cursor: pointer;
    margin-top: 12px;
    border-radius: 8px;
    border: unset;
    padding: 12px 16px;
    background-color: #61b9f0;
    max-width: 428px;
    text-decoration: unset;
}

.card .card__button:hover {
    background-color: #039dfc;

}